@font-face {
    font-family: "gotham";
    src: url("fonts/GothamNarrow-Light.otf") 
}
@font-face {
    font-family: "gothambold";
    src: url("fonts/GothamNarrow-Bold.otf") 
}
@font-face {
    font-family: "gothambook";
    src: url("fonts/GothamNarrow-Book.otf") 
}
@font-face {
    font-family: "frutiger";
    src: url("fonts/FrutigerLTArabic-45Light.ttf") 
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: gotham, frutiger, sans-serif;
    padding-top: 53px;
    overflow-x: hidden !important;
  }
.bg-dark { background-color: #11171F!important; }
.c-container{
    width: 100%;
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    /* text-align: center; */
    margin-right: 0px !important;
    margin-left: 0px !important;
    overflow-x: hidden;
}
.logo-img{
    width: 100%;
    height: 50px;
    image-rendering: -webkit-optimize-contrast;
}
#country-access-modal > div {
    max-height: 420px;
    max-width: 640px;
}
.c-modal-content{
    font-size: 14px;
    font-weight: 300;
}
.select-country-label{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.language-container{
    margin-bottom: 12px;
}
.language-container a{
    font-size: 16px;
    color: #84CCD7;
    text-decoration: underline;
}
.span-heading{
    font-family: gothambold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.span-heading1{
    color: #11171F;
}
.span-heading2{
    color: #84CCD7;
}
.c-heading{
    font-family: gothambold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.c-heading1{
    color: #11171F;
}
.c-heading2{
    color: #84CCD7;
}
.c-para{
    font-family: gotham;
    color: #11171F;
}
.country-list label{
    display: block;
    color: #3f3f3f;
    font-weight: bold;
    margin-top: 15px;
}
.proceed-btn{
    color: white;
    background-color: #C3B9AE;
    font-weight: 300;
    padding: 5px 15px;
    white-space: nowrap;
    box-sizing: border-box;
    border: none;
}

.watch-btn{
    color: #fff;
    background-color: #C3B9AE;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.watch-btn a {
    color: #fff;
}
.watch-btn a:hover {
    text-decoration: none;
    color: #fff;
}

.tecom-number-container{
    text-align: center;
}
.techom-number-container:nth-child(2),
.techom-number-container:nth-child(4){
    padding-left: 0px !important;
}
.tecom-number-container .tecom-number-inner{
    padding: 30px 20px;
    background-color: #ece7e5;
    height: 100%;
    border-radius: 30px;
    /* padding: 5px; */
}
.tecom-number-container .number-heading{
    color: #84CCD7;
    font-size: 55px;
    font-weight: 700;
    font-family: gothambold;
    margin-bottom: 0px;
}
.tecom-number-container .number-text{
    color: #11171F;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}
.apexcharts-legend.apexcharts-align-bottom.apx-legend-position-right{
    top: 100px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    display: inline-block;
}
.c-nav {
    height: 60px;
}
.c-nav-menu .navbar-nav li{
    display: inline-block;
    text-align: left;
}
.c-nav-menu .navbar-nav>li:not(:last-child)::after {
    content: " | ";
    padding: 0px 0px;
    color: #fff;
    font-size: 12px;
}


/* .leadership-message-container {
    text-align: center;
    width: 100%
} */

/* .leadership-message-mobile{
    display: none;
} */
/* .leadership-message-desktop{
    margin-bottom: 2rem;
} */

#video-modal .modal-header {
    padding: 10px 15px 0px 0px !important;
    border-bottom: none !important;
}

#video-modal iframe {
    height: 300px;
}

.c-inner-content{
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-country-error{
    color: red;
    font-size: 12px;
    font-weight: 300;
}

.not-agree-btn{
    color: #6D6E71;
    padding: 3px 15px;
    background-color: white;
    border: 2px solid #6D6E71;
}

.c-heading4{
    color: #84CCD7;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 8px;
    font-family: gothambold;
    margin-bottom: auto;
    text-transform: uppercase;
}
.image3-container{
    padding-left: 30px;
}
.image3{
    width: 400px;
}
.invest-box{
    padding: 10px;
    border: 1px solid #2C2C2B;
}
.c-heading3{
    font-size: 30px;
    font-family: gothambold;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-top: 15px; */
    color: #11171F;
    text-align: left;
}
.image4-container{
    text-align: center;
}
.invest-list ul {
    padding-left: 15px;
}
.invest-list ul li{
    font-size: 12px;
}
.further-info{
    color:#11171F;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
}
.approach-list-container ul{
    padding-left: 15px;
    font-size: 16px;
}
.image9-container img{
    height: 520px;
    object-fit: cover;
}
.image2{
    width: 100%;
}

.image-wrapper {    
    background-position: center !important;
    background-size: cover !important;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
}

.image1-container iframe {
    min-height: 110vh;
}
.image1-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.image5-container{
    /* background: url(../images/image5.jpg); */
    min-height: 80vh;
}
.image6-container img{
    width: 100%;
}

.span-document{
    color: #414042;
    font-size: 18px;
    margin-left: 5px;
}
.span-language{
    color:#11171F;
    font-size: 0.9rem;
    margin-right: 15px;
    font-family: gothambold;
}
.row-document-container:last-child{
    padding-bottom:3em
}
.document-container {
    border-bottom: 1px solid #11171F;
    display: flex !important;
    flex-direction: row;
    align-items: center;
}



.faq-item{
    font-size: 22px;
    font-family: gothambook;
    margin-top: 0px !important;
    cursor: default;
}

/* .faq-hr {
    color: #E5E5E5;
    margin: 5px 0px;
} */

.inline-block{
    display: inline-block
}
.heading-color1 {
    color: #84CCD7;
}
.fs-12{
    font-size: 12px;
}

.c-email{
    text-decoration: underline;
}

/* .footer{
    margin-top: 15px;
} */
.footer1{
    background-color: #111711;
    color: #fff;
    padding: 45px 20px;
}
.footer-heading1{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: gothambold;

}
.footer-heading1 span{
    color: #84CCD7;
}
.footer-heading2{
    font-size: 18px;
    font-weight: bold;
    font-family: gothambold;
    text-transform: uppercase;
}
.footer-para{
    font-size: 18px;
    margin-bottom: 0px;
}
.footer-link{
    font-size: 18px;
    text-decoration: underline;
}
.footer2{
    background-color: #84CCD7;
    font-family: gothambold;
    color: #11171F;
    font-size: 10px;
    padding: 3px 20px;
}
.footer2 div:nth-child(1){
    text-align: left;
}
.footer2 div:nth-child(2){
    text-align: right;
}

.display-none-toggle {
    display: none;
}
.bank-list {
    padding: 1rem 0;
    border-right: 1px solid #11171F;
}
.bank-list-desktop-container{
    display: flex-box;
}
.bank-list-desktop-container .bank-intro-row,
.bank-list-desktop-container .bank-details-col,
#section-invest .row,
#section-subscribe .row,
#section-banks .row,
#section-faqs .row{
    background-color: #f8f7f5;
}
.bank-list-mobile-container{
    display: none;
}
.bank-list-item{
    font-family: gothambold;
    text-transform: uppercase;
    padding-left: 0px;
    font-size: 24px;
    cursor: default;
}
.bank-list-item{
    padding-right: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #11171F;
}
.bank-list-item.active{
    color: #84CCD7;
}
.bank-details-mobile p,
.bank-details p{
    font-size: 20px;
    line-height: 24px;
}
.subscribe-content{
    color: #11171F;
}
/* .faq-dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;   
    display: inline-block;
    background-color: #11171F; 
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 30px;
} */
.subscribe-container{
    margin-top: 40px;
}
.subscribe-container .c-para,
.subscribe-container .subscribe-heading{
    padding-left: 50px;
    margin-bottom: 0px;
    /* padding-top: 15px; */
}
.subscribe-heading{
    font-family: gothambold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    transform: uppercase;
}
.sub-item{
    margin-top: 2em;
}
/* .sub-item{
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 0px;
    background-size: contain;
} */
/* #subscribe-item1{
    background-image: url(../images/subscribe-image1.png);
} */
#subscribe-item2{
    background-image: url(../images/subscribe-image2.png);
}
#subscribe-item3{
    background-image: url(../images/subscribe-image3.png);
}
#subscribe-item4{
    background-image: url(../images/subscribe-image4.png);
}
#subscribe-item5{
    background-image: url(../images/subscribe-image5.png);
}
.div-group{
    font-size: 18px;
    font-weight: 700;
    font-family: gothambold;
    color: #7A7979;
}
.div-group .div-dot{
    width: 5px;
    height: 5px;
    margin-bottom: 2.5px;
    border-radius: 50%;
    background-color: #7A7979;
    display: inline-block;
}
.subscribe-counter p{
    font-size: 6rem;
    line-height: 5rem;
    color: #edeae7;
    text-align: center;
}
.subscribe-content{
    vertical-align: top;
}
.subscribe-content div{
    vertical-align: top;
    margin-left: -15px;
}
.subscribe-content .subscribe-heading,
.subscribe-content .subscribe-para{
    padding-top: 0px;
    padding-left: 0px;
}
.subscribe-content .subscribe-heading{
    margin-bottom: 5px;
}
.subscribe-content .subscribe-para{
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 2em;
    text-transform: none;
}



/*style overright */
.collapse, .c-collapse {
    font-size: 18px;
    padding: 10px 0px;
}
section {
    padding: 40px 0px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 12px !important;
    letter-spacing: 2px;
}

.page-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

/********************** General classes ***************************/
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-22 {
    font-size: 22px;
}
.fs-28 {
    font-size: 28px;
}
.fs-36 {
    font-size: 36px;
}

.fw-4{
    font-weight: 400;
}
.fw-7{
    font-weight: 700;
}
.fst-i{
    font-style: italic;
}
.lh-21{
    line-height: 21px;
}
.lh-22{
    line-height: 22px;
}
.lh-27{
    line-height: 27px;
}
.lh-30{
    line-height: 30px;
}
.lh-40{
    line-height: 40px;
}
.pl-15{
    padding-left: 15px;
}
.ml-15{
    margin-left: 15px;
}
.tt-u{
    text-transform: uppercase;
}
.ff-gbk {
    font-family: gothambook;
}
.ff-gbd {
    font-family: gothambold;
}

/********************** District section css starts ***************************/
.district-box-container {
    display: flex;
    flex-direction: row;
  }
  

.district-box-wrapper{
    box-sizing: border-box;
    display: flex;
}

.district-box-inner{
    height: 240px;
    border: 1px solid #7A7979;
    flex: 1;
    position: relative
}
.district-box-inner .district-image{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 100;
  }
  .district-hover-image {
    width: 100%;
    height: 100%;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
.district-box-text{
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 30px;
    opacity: 1;
    font-family: gothambook;
    /* background: #000;
    opacity: 0.6; */
}
.district-box-background{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    opacity: 0.6;
}
.district-box-wrapper:nth-child(1),
.district-box-wrapper:nth-child(2){
    width: 100%;
    margin: 0px 15px;
}
.services-wrapper{
    width: 78% !important;
    margin: 0px 15px !important;
}

.district-box-text p:first-child{
    text-transform: uppercase;
}

/* .district-image-1 {
    background: url(../images/district1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
/* .district-image-2 {
    background: url(../images/district2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-3 {
    background: url(../images/district3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-4 {
    background: url(../images/district3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-5 {
    background: url(../images/district5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.district-image-6 {
    background: url(../images/district6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-7 {
    background: url(../images/district7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-8 {
    background: url(../images/district8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-9 {
    background: url(../images/district9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-10 {
    background: url(../images/district10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-11 {
    background: url(../images/district11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-12 {
    background: url(../images/district12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-13 {
    background: url(../images/district13.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.district-image-14 {
    background: url(../images/district14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.district-image-1:hover{
    background: url(../images/district-bg1.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-2:hover{
    background: url(../images/district-bg2.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-3:hover{
    background: url(../images/district-bg3.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-4:hover{
    background: url(../images/district-bg4.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-5:hover{
    background: url(../images/district-bg5.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-6:hover{
    background: url(../images/district-bg6.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-7:hover{
    background: url(../images/district-bg7.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-8:hover{
    background: url(../images/district-bg8.jpg);
    background-position: center;
    background-size: cover;
} 
.district-image-9:hover{
    background: url(../images/district-bg9.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-10:hover{
    background: url(../images/district-bg10.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-11:hover{
    background: url(../images/district-bg11.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-12:hover{
    background: url(../images/district-bg12.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-13:hover{
    background: url(../images/district-bg13.jpg);
    background-position: center;
    background-size: cover;
}
.district-image-14:hover{
    background: url(../images/district-bg14.jpg);
    background-position: center;
    background-size: cover;
}
.service-box-1:hover{
    background: url(../images/district-bg11.jpg);
    background-position: center;
    background-size: cover;
}
.service-box-2:hover{
    background: url(../images/district-bg12.jpg);
    background-position: center;
    background-size: cover;
}
.service-box-3:hover{
    background: url(../images/district-bg13.jpg);
    background-position: center;
    background-size: cover;
}
.service-box-4:hover{
    background: url(../images/district-bg14.jpg);
    background-position: center;
    background-size: cover;
} */

.district-box-heading{
    font-family: gothambold;
}
.district-box-content{
    font-family: gothambook;
    font-size: 14px;
    font-weight: 500
}
.c-link,
.c-link:hover {
    color: #A4DBE8;
    text-decoration: underline;
}
.truncated-text {
    display: block;
}
.truncated-link {
    display: none;
}

ul.list-container li{
    margin: 0px 15px;
}
.investors-list{
    padding-left: 25px;
}
/********************** District section css ends ***************************/

/********************** FAQS page css starts ***************************/
.page-container{
    margin-top: 3rem;
}
.faq-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
    background-color: #11171F;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 5px;
}
.faq-hr {
    border-top: 2px solid #84CCD7;
    width: 50%;
}
.fp-line{
    border-top: 2px solid #84CCD7;
}
/********************** FAQS page css ends *****************************/

/********************** ESG section css starts ***************************/
.esg2-container{
    background: url(../images/esg2.jpeg);
    min-height: 120vh;
    position: relative;
}
.esg3-container{
    background: url(../images/esg3.jpeg);
    min-height: 160vh;
    position: relative;
}
#section-esg .list-container li{
    margin: 0px 30px;
}
#section-esg .icons-with-text {
    padding: 0px 50px
}
/********************** ESG section css ends *****************************/

/********************** management section css starts ***************************/
.carousel-button-container{
	background: transparent;
	height: 80px;
	width: 70px;
	position: relative;
	margin-left: 1px;
}
.carousel-button-container .carousel-control-next, 
.carousel-button-container .carousel-control-prev {
	width: 15px;
    opacity: 1;
}
.carousel-sliders-container .carousel-item {
	padding-left: 1px;
	padding-right: 1px;
}
.slide-container .management-image {
	width: 100%;
}
.slide-container {
	min-height: 410px;
    height: 410px;
    overflow-y: auto;
    background: #EAE7E4;
}
.carousel-sliders-container .slide-heading {
    color: #84CCD7;
    font-weight: 700;
    font-size: 26px;
}
.carousel-sliders-container .slide-content-container {
    padding: 5px 15px;
}
.carousel-sliders-container .slide-content1{
    font-size: 14px;
    /* line-height: 27px; */
    font-weight: 400;
    color: #11171F;
}
.carousel-sliders-container .slide-content2{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #11171F;
}
.carousel-button-container .carousel-control-prev-icon {
    background-image: url(../images/left-arrow.png)
}
.carousel-button-container .carousel-control-next-icon {
    background-image: url(../images/right-arrow.png)
}
.management-hr{
    border-top: 1px solid #C3B9AE;
}
.management-item{
    font-size: 22px;
    font-family: gothambook;
    margin-top: 0px !important;
    cursor: default;
}
.managment-icon-container{
    width: 30px;
}

/********************** management section css ends *****************************/

/********************** Financial section css starts ***************************/
.fin-col-1{
    font-size: 24;
    font-weight: 700;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-family: gothambold;
}
.fin-col1-1{
    background-color: #000;
    color: #fff;
    margin-right: 5px;
    flex: 3;
    padding: 15px;
}
.fin-col1-2{
    background: #E5E5E5;
    color: #11171F;
    flex: 2;
    padding: 15px;
}
.fin-content1{
    font-size: 12px;
    line-height: 15px;
    color: #11171F;
    font-weight: 400;
    margin-top: 10px;
}
.chart-image1{
    width: 100%;
}
.chart-image2{
    width: 73%;
}
/********************** Financial section css ends ***************************/

/********************** Operational section css starts ***************************/
.operational-bar1 {
    width: 100%;
    background: #84CCD7;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-family: gothambook;
    margin-bottom: 10px;
    font-weight: bold;
}
.operational-bar2 {
    width: 100%;
    background: #E5E5E5;
    color: #000;
    padding: 15px;
    text-align: center;
    font-family: gothambook;
    font-weight: bold;
}
.operational-col2 {
    padding: 0px;   
}

.operational-desktop-container{
    display: block;
}
.operational-mobile-container{
    display: none;
}
.operational-desktop-container .operational-row-container {
    display:flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    background: #edecea;
    margin-top: 15px;
    font-family: gothambook;
    font-size: 1.1rem;
}
  
.operational-desktop-container .operational-type {
    display:flex;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
    flex: 1;
}
  
.operational-desktop-container .operational-type-color {
    width: 20px;
}
  
.operational-desktop-container .operational-type-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    /* padding: 30px 20px; */
    text-align: center;
    font-family: gothambold;
}
  
.operational-desktop-container .operational-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #e1ddd9;
    margin: 10px 0px;
    padding: 0px 20px;
    border-left: 1px solid #e1ddd9;
    flex: 2;
}
.operational-desktop-container .operational-logos img {
    max-height: 60px; 
    width: auto;
    margin-right: 15px;
}
.operational-desktop-container .operational-ebitda {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    flex: 1
}
.operational-desktop-container .operational-ebitda ul{
    margin-bottom: 0px !important;
}
.operational-desktop-container .ebitda-number {
    line-height: 0.8rem;
    padding: 10px 0px;
}
.operational-desktop-container .operational-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #e1ddd9;
    margin: 10px 0px;
    padding: 0px 20px;
    flex: 1;
}
  
.operational-desktop-container .operational-occupancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #e1ddd9;
    margin: 10px 0px;
    padding: 0px 20px;
    text-align: center;
    flex: 1;
}

.operational-mobile-container .operational-type{
    font-family: gothambold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.operational-mobile-container .collapse-item{
    padding: 15px 15px 15px 0px;
}
.operational-mobile-container .item-details{
    padding: 15px;
    text-align: center;
}
.operational-mobile-container .item-container{
    background: #E5E5E5;
    margin-bottom: 10px;
}
.operational-mobile-container .item-row-content{
    padding: 10px;
    border-top: 1px solid #C3B9AE;
    font-family: gothambook;
}
.operational-mobile-container .operational-logos img{
    margin-right: 15px;
}

.operational-mobile-container .c-collapse{
    padding: 0px;
}

.collapse-title{
    flex: 1;
    text-align: right
}
.collapse-image{
    text-align: right
}
/********************** Operational section css ends ***************************/

/********************** Financial section css ends *****************************/
.esg-pillar-header{
    background: #d0cabf;
    color: #11171F;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 15px 0px;
    font-family: gothambold;
}
.esg-pillar-container{
    display: flex;
    color: #11171F;
}
.esg-pillar-col{
    flex: 1;
    margin: 10px;
}
.esg-pillar-heading{
    text-transform: uppercase;
    font-size: 22px;
    background-color: #fff;
    text-align: center;
    padding: 15px 0px;
    font-family: gothambold;
}
.esg-pillar-item{
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f9faf4;
    text-align: center;
    padding: 15px 0px;
    font-family: gothambold;
}
.esg-pillar-col .esg-pillar-item{
    margin-bottom: 10px;
}
.esg-pillar-col .esg-pillar-item:last-child{
    margin-bottom: 0px;
}
.esg-pillar-border-container{
    display: flex;
}
.esg-pillar-border-item{
    flex: 1;
    height: 10px;
}
.esg-images-container{
    display: flex;
    justify-content: center;
    padding: 15px 15%;
}
.esg-image-item{
    flex: 1;
    margin-right: 15px;
}
.esg-image-item img{
    width: 100px;
    height: 100px;
}
.esg-flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .esg-image-item{
    width: 50px;
} */
/********************** Financial section css ends *****************************/

/********************** Updated css ***************************/
.c-mx-15{
    margin: 0px 15px;
}
.c-flex-row{
    overflow: hidden;
    display: flex;
    margin: 0px -15px;
}
.c-flex-col1 {
    flex: 1;
}
.c-flex-col2 {
    flex: 1;
}
#section-overview .c-flex-col1,
#section-overview .leadership-message-col{
    padding: 60px 0px;
}
.opportunity-content{
    margin: 20px 0px;
}
#section-subscribe .c-flex-col1{
    padding: 30px 0px;
    background-color: #f8f7f5;
}
.achievements-row{
    margin-top: 15px;
}
/**************************************************/

