@font-face {
    font-family: "gotham";
    src: url("fonts/GothamNarrow-Light.otf") 
}
@font-face {
    font-family: "gothambold";
    src: url("fonts/GothamNarrow-Bold.otf") 
}
@font-face {
    font-family: "gothambook";
    src: url("fonts/GothamNarrow-Book.otf") 
}
@font-face {
    font-family: "frutiger";
    src: url("fonts/FrutigerLTArabic-45Light.ttf") 
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: gotham, frutiger, sans-serif;
    padding-top: 5rem;
  }

.c-container{
    width: 100%;
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    /* text-align: center; */
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.logo-img{
    width: 100%;
    height: 40px;
}
#country-access-modal > div {
    max-height: 420px;
    max-width: 640px;
}
.c-modal-content{
    font-size: 14px;
    font-weight: 300;
}
.select-country-label{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.language-container{
    margin-bottom: 12px;
}
.language-container a{
    font-size: 16px;
    color: #CF2D1E;
    text-decoration: underline;
}

.c-heading{
    font-family: gothambold;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.c-heading1{
    color: #7A7979;
}
.c-heading2{
    color: #CF2D1E;
}
.c-para{
    font-family: gothambook;
    color: #000000;
    font-weight: 400 !important;
    font-size: 18px;
}
.country-list label{
    display: block;
    color: #3f3f3f;
    font-weight: bold;
    margin-top: 15px;
}
.proceed-btn{
    color: white;
    background-color: #CF2D1E;
    font-weight: 300;
    padding: 5px 15px;
    white-space: nowrap;
    box-sizing: border-box;
    border: none;
}

.watch-btn{
    color: #fff;
    background-color: #cf2d1e;
    padding: 10px;
    text-align: center;
    width: 140px;
    cursor: pointer;
}

.tecom-number-container{
    text-align: center;
}
.techom-number-container:nth-child(2),
.techom-number-container:nth-child(4){
    padding-left: 0px !important;
}
.tecom-number-container .tecom-number-inner{
    padding: 30px 20px;
    background-color: #2c2c2b;
    height: 150px;
    /* padding: 5px; */
}
.tecom-number-container .number-heading{
    color: #cd2d1e;
    font-size: 18px;
    font-weight: 700;
}
.tecom-number-container .number-text{
    color: #fff;
    font-size: 14px;
}
.apexcharts-legend.apexcharts-align-bottom.apx-legend-position-right{
    top: 100px !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    display: inline-block;
}
.c-nav-menu .navbar-nav li{
    display: inline-block;
    text-align: left;
}
.c-nav-menu .navbar-nav>li:not(:last-child)::after {
    content: " | ";
    padding: 0px 0px;
    color: #fff;
}


.leadership-message-container {
    text-align: center;
}

.leadership-message-mobile{
    display: none;
}

#video-modal .modal-header {
    padding: 10px 15px 0px 0px !important;
    border-bottom: none !important;
}

#video-modal iframe {
    height: 300px;
}

.c-inner-content{
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-country-error{
    color: red;
    font-size: 12px;
    font-weight: 300;
}

.not-agree-btn{
    color: #6D6E71;
    padding: 3px 15px;
    background-color: white;
    border: 2px solid #6D6E71;
}

.c-heading4{
    color: #7A7979;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.c-heading3{
    color: #CF2D1E;
    text-align: left;
}
.image3-container{
    padding-left: 30px;
}
.image3{
    width: 400px;
}
.invest-box{
    padding: 10px;
    border: 1px solid #2C2C2B;
}
.c-heading3{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}
.image4-container{
    text-align: center;
}
.invest-list ul {
    padding-left: 15px;
}
.invest-list ul li{
    font-size: 12px;
}
.further-info{
    color:#7A7979;
    font-size: 12px;
}
.approach-list-container ul{
    padding-left: 15px;
    font-size: 16px;
}
.image1-container{
    margin-top: -51px;
}
.image5-container img, 
.image8-container img, 
.image1-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 50% 50%;
}
.image9-container {
    padding-right: 0px;
}
.image6-container img{
    width: 100%;
}

.span-document{
    color: #414042;
    font-size: 18px;
    margin-left: 5px;
}
.span-language{
    color:#CF2D1E;
    text-decoration: underline;
    margin-left: 15px;
}
.document-container{
    border-bottom: 1px solid #E5E5E5;
}
.document-container2{
    margin-left: 100px;
}


.faq-item{
    font-size: 22px;
    /* padding: 15px 0px; */
    margin-top: 0px !important;
    /* border-bottom: 1px solid #E5E5E5; */
    cursor: default;
}

.faq-hr {
    /* border-bottom: 1px solid #E5E5E5; */
    color: #E5E5E5;
    margin: 5px 0px;
}

.inline-block{
    display: inline-block
}
.heading-color1 {
    color: #CF2D1E
}
.fs-12{
    font-size: 12px;
}

.c-email{
    text-decoration: underline;
}

/* .footer{
    margin-top: 15px;
} */
.footer1{
    background-color: #2C2C2B;
    color: #fff;
    padding: 45px 20px;
}
.footer-heading1{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-heading2{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-para{
    font-size: 18px;
    margin-bottom: 0px;
}
.footer-link{
    font-size: 18px;
    text-decoration: underline;
}
.footer2{
    background-color: #000000;
    color: #fff;
    font-size: 10px;
    padding: 3px 20px;
}
.footer2 div:nth-child(1){
    text-align: left;
}
.footer2 div:nth-child(2){
    text-align: right;
}

.display-none-toggle {
    display: none;
}
.bank-list-desktop-container{
    display: flex-box;
}
.bank-list-mobile-container{
    display: none;
}
.bank-list-item{
    font-family: gothambold;
    text-transform: uppercase;
    padding-left: 0px;
    font-size: 24px;
    cursor: default;
}
.bank-list-col1{
    border-right: 1px solid #E5E5E5;
}
.bank-list-item{
    margin-bottom: 15px;
    font-size: 24px;
    color: #7A7979;
}
.bank-list-item.active{
    color: #CF2D1E;
}
.bank-details p{
    font-size: 20px;
    line-height: 24px;
}


/*style overright */
.collapse, .c-collapse {
    font-size: 18px;
}
section {
    padding: 30px 0px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 14px !important;
}