@media (max-width: 600px){
    section{
        padding: 20px 0px;
    }
    .c-nav{
        height: 80px;
        background-color: #11171F !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .c-nav img{
        padding-left: 20px;
    }
    .c-nav .navbar-toggler{
        margin-right: 20px;
    }
    .c-nav-menu{
        padding: 0px 20px 50px 20px;
        background-color: #11171F !important;
    }
    .image1-container{
        margin-top: 0px;
    }
    .image1-container iframe{
        height: 40vh;
        min-height: 40vh;
    }
    .leadership-message-container {
        text-align: left;
    }
    .c-nav-menu .navbar-nav>li:after {
        content: "";
        padding: 0px 10px;
        color: #fff;
    }
    .col1{
        margin-top: 15px;
    }
    .image3-container{
        padding-left: 0px;
        margin-top: 20px;
    }
    .image3{
        width: 95%;
        text-align: center;
    }
    .image3-container .c-heading4{
        text-align: center;
    }
    .techom-number-container:nth-child(2),
    .techom-number-container:nth-child(4){
        padding-left: 0px !important;
    }
    .invest-box{
        margin-top: 15px;
    }
    .footer-heading2{
        margin-top: 20px;
    }
    .footer2 div:nth-child(1){
        text-align: center;
    }
    .footer2 div:nth-child(2){
        margin-top: 10px;
        text-align: center;
    }
    /* .leadership-message-desktop{
        display: none;
    } */
    .leadership-message-mobile{
        display: inline-block;
    }
    .leadership-message-container{
        margin-left: 5px !important;
    }
    .leadership-message-container img{
        vertical-align: bottom;
        width: 25%;
    }
    .document-container2{
        margin-left: 0px;
    }
    .bank-list-desktop-container{
        display: none;
    }
    .bank-list-mobile-container{
        display: block;
        padding: 2rem 0;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 22px !important;
    }
    .logo-img{
        width: 100%;
        height: 55px;
    }
    .c-heading3{
        font-size: 26px;
    }
    .footer2 div:nth-child(2){
        margin-top: 0px;
    }
    .image9-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .image9-container img{
        max-height: 260px;
    }
    .c-nav-menu .navbar-nav>li:not(:last-child)::after {
        content: "";
        padding: 0px 0px;
        color: #fff;
    }
    .faq-dot{
        margin-right: 5px;
    }
    .subscribe-container {
        margin: 0px;
    }
    .subscribe-counter{
        vertical-align: baseline;
    }
    .subscribe-container .sub-item{
        background-position: -35px;
        padding: 0 25px;
    }
    .row-document-container{
        border-bottom: unset;
    }
    .document-container {
        border-bottom: 1px solid #11171F;
        display: flex !important;
        flex-direction: column;
        align-items: unset;
        padding: 5px 0px;
    }
    .document-container div:nth-child(1){
        text-align: left;
    }
    .document-container div:nth-child(2){
        text-align: right;
    }
    .span-heading{
        font-size: 30px;
        line-height: 36px;
    }
    .span-heading2{
        margin-left: 0px !important;
    }
    .image-wrapper{
        min-height: 40vh;
    }

    .district-box-container {
        flex-direction: column;
    }
    .district-box-wrapper {
        flex-direction: column;
        height: 100%;
    }
    .district-box-inner {
        flex: unset;
        height: 240px;
    }
    .district-box-text{
        padding:50px 30px;
    }
    .services-wrapper {
        width: 100% !important;
    }
    #section-overview .col1{
        padding-top: 20px;
    }
    .show-more{
        display: none;
    }
    .show-more-link {
        display: block;
    }
    .show-less-link {
        display: none;
    }
    .truncated-text {
        display: none;
    }
    .truncated-link {
        /* display: block; */
        color: #84CCD7;
        font-family: gothambold;
        font-size: 18px;
        text-decoration: underline;
    }
    .investors-list {
        padding-left: 5px;
    }
    /********************** FAQS page css starts ***************************/
    .faq-hr {
        border-top: 2px solid #84CCD7;
        width: 100%;
        margin: 15px 0px;
    }
    /********************** FAQS page css ends *****************************/

    /********************** FAQS page css starts ***************************/
    .carousel-buttons-col{
        text-align: right;
        text-align: -webkit-right;
    }
    .slide-container {
        min-height: 450px;
        height: 450px;
        overflow-y: auto;
    }
    /********************** FAQS page css ends *****************************/

    /********************** Financial section css ends *****************************/
    .fin-col-1{
        flex-direction: column;
    }
    .fin-col1-1, .fin-col1-2{
        flex: 1;
        padding: 10px;
    }
    .chart-image{
        width: 100%
    }
    .chart-image-container{
        text-align: center;
    }
    .fin-content1{
        margin-top: 15px;
    }
    /********************** Financial section css ends *****************************/

    /********************** Operational section css ends *****************************/
    .operational-desktop-container{
        display: none;
    }
    .operational-mobile-container{
        display: block;
    }
    .operational-col2 {
        padding: 15px;
    }
    /********************** Operational section css ends *****************************/
    
    /********************** ESG section css ends *****************************/
    .esg-pillar-container {
        flex-direction: column;
    }
    .esg-images-container{
        /* flex-direction: column; */
        flex-wrap: wrap;
        padding: 15px;
    }
    .esg-image-item{
        flex: 50%;
        flex-basis: auto;
        margin-bottom: 10px;
        margin-right: unset;
        width: 50%;
        padding: 3px;
    }
    .esg-image-item img{
        height: auto;
        width: 100%;
    }
    /********************** ESG section css ends *****************************/

    /*** updated css ***/
    #section-overview .c-flex-row,
    #section-subscribe .c-flex-row {
        flex-direction: column-reverse;
    }
    .leadership-message-row{
        flex-direction: column !important;
    }
    #section-overview .c-flex-col1,
    #section-overview .leadership-message-col{
        padding-top: 30px;
        padding-bottom: 0px;
    }
    #section-banks .faq-hr{
        margin: 0px;
        border: 1px solid #E5E5E5;
    }
    .opportunity-content {
        margin: 20px 0px 0px 0px;
    }
    #section-management {
        padding-top: 15px;
    }
    .management-row-1{
        margin-top: 0px;
    }
    #section-esg .icons-with-text{
        padding: 0px;
    }
    .esg-flex-item {
        margin-top: 15px;
    }
    .achievements-row{
        margin-top: 0px;
    }
}