@media (max-width: 600px){
    section{
        padding: 20px 0px;
    }
    .c-nav{
        height: 80px;
        background-color: #11171F !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .c-nav img{
        padding-left: 20px;
    }
    .c-nav .navbar-toggler{
        margin-right: 20px;
    }
    .c-nav-menu{
        padding: 0px 20px 50px 20px;
        background-color: #11171F !important;
    }
    .image1-container{
        margin-top: 0px;
    }
    .image1-container iframe{
        height: 40vh;
        min-height: 40vh;
    }
    .leadership-message-container {
        text-align: left;
    }
    .c-nav-menu .navbar-nav>li:after {
        content: "";
        padding: 0px 10px;
        color: #fff;
    }
    .col1{
        margin-top: 15px;
    }
    .image3-container{
        padding-left: 0px;
        margin-top: 20px;
    }
    .image3{
        width: 95%;
        text-align: center;
    }
    .image3-container .c-heading4{
        text-align: center;
    }
    .techom-number-container:nth-child(2),
    .techom-number-container:nth-child(4){
        padding-left: 0px !important;
    }
    .invest-box{
        margin-top: 15px;
    }
    .footer-heading2{
        margin-top: 20px;
    }
    .footer2 div:nth-child(1){
        text-align: center;
    }
    .footer2 div:nth-child(2){
        margin-top: 10px;
        text-align: center;
    }
    /* .leadership-message-desktop{
        display: none;
    } */
    .leadership-message-mobile{
        display: inline-block;
    }
    .leadership-message-container{
        margin-left: 5px !important;
    }
    .leadership-message-container img{
        vertical-align: bottom;
        width: 25%;
    }
    .document-container2{
        margin-left: 0px;
    }
    .bank-list-desktop-container{
        display: none;
    }
    .bank-list-mobile-container{
        display: block;
        padding: 2rem 0;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 22px !important;
    }
    .logo-img{
        width: 100%;
        height: 55px;
    }
    .c-heading3{
        font-size: 26px;
    }
    .footer2 div:nth-child(2){
        margin-top: 0px;
    }
    .image9-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .image9-container img{
        max-height: 260px;
    }
    .c-nav-menu .navbar-nav>li:not(:last-child)::after {
        content: "";
        padding: 0px 0px;
        color: #fff;
    }
    .faq-dot{
        margin-right: 5px;
    }
    .subscribe-container {
        margin: 0px;
    }
    .subscribe-counter{
        vertical-align: baseline;
    }
    .sub-item{
        background-position: -35px;
    }
    .row-document-container{
        border-bottom: unset;
    }
    .document-container {
        border-bottom: 1px solid #11171F;
        display: flex !important;
        flex-direction: column;
        align-items: unset;
    }
    .document-container div:nth-child(1){
        text-align: left;
    }
    .document-container div:nth-child(2){
        text-align: right;
    }
    .span-heading{
        font-size: 30px;
        line-height: 36px;
    }
    .span-heading2{
        margin-left: 0px !important;
    }
    .image-wrapper{
        min-height: 40vh;
    }

    .district-box-container {
        flex-direction: column;
    }
    .district-box-wrapper {
        flex-direction: column;
        height: 100%;
    }
    .district-box-inner {
        flex: unset;
        height: 360px;
    }
    .services-wrapper {
        width: 100% !important;
    }
    #section-overview .col1{
        padding-top: 20px;
    }
    .show-more{
        display: none;
    }
    .show-more-link {
        display: block;
    }
    .show-less-link {
        display: none;
    }
    .truncated-text {
        display: none;
    }
    .truncated-link {
        /* display: block; */
        color: #84CCD7;
        font-family: gothambold;
        font-size: 18px;
        text-decoration: underline;
    }
    /********************** FAQS page css starts ***************************/
    .faq-hr {
        border-top: 2px solid #84CCD7;
        width: 100%;
    }
    /********************** FAQS page css ends *****************************/

    /********************** FAQS page css starts ***************************/
    .carousel-buttons-col{
        text-align: right;
        text-align: -webkit-right;
    }
    .slide-container {
        min-height: 450px;
        height: 450px;
        overflow-y: auto;
    }
    /********************** FAQS page css ends *****************************/
}